:root {
  --main-color: rgba(18, 104, 255, 1);
  --selected-color: rgba(210, 227, 255, 1);
  --hover-color: rgba(227, 238, 255, 1);

  --header-height: 96px;
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #1a1a1a;
}
